<template th:fragment="html(title)" xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/css/include/bootstrap/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/include/awesome/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/css/include/validation/validationEngine.jquery.css}" rel="stylesheet" >
    <link th:href="@{/css/back/include.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/include/dialog/jquery-confirm.min.css}">
	<link rel="shortcut icon" th:href="@{/image/site/favicon.ico}"/>
	
    <script th:src="@{/js/include/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/include/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/js/include/vue/vue.min.js}"></script>
    <script th:src="@{/js/include/axios/axios.min.js}"></script>
    <script th:src="@{/js/include/vue/moment.js}"></script>
    <script th:src="@{/js/include/dialog/jquery-confirm.min.js}" ></script>
    <script th:src="@{/js/include/validation/jquery.validationEngine-zh_CN.js}"></script>
    <script th:src="@{/js/include/validation/jquery.validationEngine.js}"></script>
    <script th:src="@{/js/back/include.js}"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title th:text="${title}" ></title>
</template>