.back_article_list{
    /*width: 95%;*/
    margin: 10px auto;
}
.back_article_list_table{
    padding: 10px;
    border-collapse: collapse;
    border-spacing: 0px;
}
.back_article_list_table thead{
    background: #b2dba1;
    text-align: center;
}
.back_article_list_table thead tr th{
    text-align: center;
}
.back_article_list_table tbody tr td{
    text-align: center;
    vertical-align: middle;
}
.add_article_table{
    border-collapse: separate;
    border-spacing: 10px;
    width: 90%;
}
.add_article_table tr td:first-child{
    width: 10%;
}
.back_art_category_list{
    /*width: 95%;*/
    margin: 10px auto;
}
.back_art_category_list_table{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-collapse: collapse;
    border-spacing: 0px;
}
.back_art_category_list_table thead{
    background: #b2dba1;
    text-align: center;
}
.back_art_category_list_table thead tr th{
    text-align: center;
}
.back_art_category_list_table tbody tr td{
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
}
.messageReplyDIV table{
    border-spacing: 10px;
    border-collapse: separate;
}
.messageReplyDIV table tr td:first-child{
    text-align: right;
}
textarea{
    resize: none;
}