<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="back/include/header::html('头像管理')"></head>
<link rel="stylesheet" th:href="@{/css/include/checkbox/awesome-bootstrap-checkbox.css}">
<link rel="stylesheet" th:href="@{/css/include/select/bootstrap-select.min.css}">
<link rel="stylesheet" th:href="@{/css/back/image.css}">
<body>
<div th:replace="back/include/top::html"></div>
<div th:replace="back/include/side::html"></div>
<div class="container">
    <div class="back_carousel_search">
        <ol class="breadcrumb">
            <li><a th:href="@{/admin}"><i class="fa fa-home">首页</i></a></li>
            <li class="active">用户头像</li>
        </ol>
        <div style="margin-bottom: 10px;width: 100%">
           <span>
               <label for="uploadFile1" class=" btn btn-warning"><i class="fa fa-plus"></i>上传图片</label>
               <input id="uploadFile1" name="image" type="file" accept="image/*" style="display:none"
                      @change="getFile($event)"/>
           </span>
            <button class="btn btn-danger" @click="deleteAllButton"><i class="fa fa-trash-o"> 批量删除</i></button>
        </div>
        <div class="carouselDIV">
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th id="checkAllTH">
                        <div class="checkbox checkbox-success checkbox-inline">
                            <input type="checkbox" id="checkAll">
                            <label for="checkAll"></label>
                        </div>
                    </th>
                    <th class="mainImage">图片</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="image in num">
                    <td class="checkOne">
                        <div class="checkbox checkbox-success checkbox-inline">
                            <input type="checkbox" :id=image :value=image name="carouselCheckbox">
                            <label :for=image></label>
                        </div>
                    </td>
                    <td><img height="100px" width="100px" :src="getImage(image)"></td>
                    <td><a href="#no" @click="editCarousel_(image)"><span class="fa fa-edit"></span></a></td>
                    <td><a href="#no" @click="deleteCarousel(image)"><span class="fa fa-trash"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="back/modal/editProfile::html"></div>

    </div>
</div>
    <div th:replace="back/include/footer::html"></div>
    <script th:src="@{/js/include/select/bootstrap-select.js}"></script>
    <script th:src="@{/js/back/profile.js}"></script>
</body>
