<div th:fragment="html">
    <!--<div class="someText">-->
        <!--<div class="text_other">-->
            <!--<p class="text_other_title">相关文章</p>-->
            <!--<div class="list-group">-->
                <!--<a :href="getArticle(art.id)" class="list-group-item" v-for="art in relatives">-->
                    <!--{{art.title}}-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="separate"></div>-->
        <!--<div class="text_like">-->
            <!--<p class="text_other_title">热门文章</p>-->
            <!--<div class="list-group">-->
                <!--<a :href="getArticle(art.id)" class="list-group-item" v-for="art in hots">-->
                    <!--{{art.title}}-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="otherText" style="height: 50px">

    </div>
</div>
