<div th:fragment="html" class="container">
    <div id="chickenModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chickenModel"
         aria-hidden="true">
        <div class="modal-dialog chickenModelDialog">
            <div class="modal-content chickenModelContent" style="width: 700px">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="text-align: center">支持一下呗</h4>
                </div>
                <div class="modal-body">
                    <div align="center" class="payDIV">
                        <h5>服务器以及网站维护需要一点费用，如果可以的话，扫描一下二维码支持一下站长，帮我加个鸡腿吧！</h5>
                        <img src="image/site/pay1.jpg" alt="alipay" style="width: 200px">
                        <img src="image/site/pay2.jpg" alt="weixin" style="width: 250px">
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div><!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>