<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fore/include/header::html('浩说')"></head>
<link rel="stylesheet" th:href="@{/css/fore/article.css}">

<link rel="stylesheet" th:href="@{/css/include/share/share.min.css}">
<link rel="stylesheet" th:href="@{/css/include/emoji/jquery.mCustomScrollbar.min.css}">
<link rel="stylesheet" th:href="@{/css/include/emoji/jquery.emoji.css}">
<link rel="stylesheet" th:href="@{/css/include/loading/circle.css}">
<body>
<div th:replace="fore/include/top::html" ></div>
<div th:replace="fore/include/navigation::html" ></div>
<div class="main">
    <div class="bottom_navigate">
        <ul class="breadcrumb">
            <li><a th:href="@{/home}">首页</a></li>
            <li><a :href="getCategory(article.category.parent.id)">{{article.category.parent.name}}</a></li>
            <li class="active">{{article.category.name}}</li>
            <li class="active">{{article.title}}</li>
        </ul>
    </div>
    <div th:replace="fore/include/right::html" ></div>
    <div class="test">
        <div th:replace="fore/article/text::html" ></div>
        <div th:replace="fore/article/comment::html" ></div>
    </div>
    <div th:replace="fore/modal/login::html" ></div>
    <div th:replace="fore/modal/forgetUser::html" ></div>
</div>
<div th:replace="fore/include/footer::html" ></div>
<script th:src="@{/js/include/emoji/jquery.mousewheel-3.0.6.min.js}" ></script>
<script th:src="@{/js/include/share/jquery.share.min.js}" ></script>
<script th:src="@{/js/include/emoji/jquery.mCustomScrollbar.min.js}" ></script>
<script th:src="@{/js/include/emoji/jquery.emoji.min.js}" ></script>
<script th:src="@{/js/include/pdf/jQuery.print.min.js}" ></script>
<script th:src="@{/js/fore/article.js}" ></script>
</body>