<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fore/include/header::html('浩说')"></head>
<link rel="stylesheet" th:href="@{/css/fore/article.css}">
<body>
<div th:replace="fore/include/top::html" ></div>
<div th:replace="fore/include/navigation::html" ></div>
<div class="main">
    <div class="bottom_navigate">
        <ul class="breadcrumb">
            <li><a th:href="@{/home}">首页</a></li>
            <li><a th:href="@{/noticeList}">所有公告</a></li>
            <li class="active">{{notice.title}}</li>
        </ul>
    </div>
    <div th:replace="fore/include/right::html" ></div>
    <div class="test">
        <div th:replace="fore/notice/text::html" ></div>
    </div>
</div>
<div th:replace="fore/include/footer::html" ></div>
<script th:src="@{/js/fore/notice.js}" ></script>
</body>