<div class="view" th:fragment="html" style="height: 500px">
    <h1><b>关于我们</b></h1>
    <p>
        站长是一名普通在读计算机系大三学生，由于个人对网站技术的热爱以及个人在平时有收藏各类软件资源的爱好，便利用自己所学的知识搭建了这样一个网站，与各位对web技术或软件资源等方面有兴趣的朋友共享个人所得所想。
        也希望大家多多支持我啦哈哈哈哈，爱你们（づ￣3￣）づ╭❤～

    </p>
    <p>
        该网站是基于springboot和bootstrap，vue等技术搭建而成，欢迎各位朋友提提建议，有任何建议都可以在顶部留言反馈里和我说哦！
    </p>
    <h1><b>关于本站</b></h1>
    <p>
        ① 本网站分享的软件资源均来自互联网，只做参考学习用途，请勿在未经本软件版权所有者书面授权的情况下用于商业用途。
    </p>
    <p>
        ② 如果您喜欢软件资源，请购买正版，支持软件开发者继续改进和增强本软件的功能。
    </p>
    <p>
        ③ 本软件不保证能兼容和适用于所有Android平台或PC系统，有可能引起冲突和导致不可预测的问题出现，请自行承担使用本软件而导致的风险和后果，发布者本人不对使用此软件负任何责任！
    </p>
    <p>
        ④ 如果您是本软件的开发者，反感本作品被分享或修改，或涉及版权等问题请电邮至 953625619@qq.com 通知本人以便及时处理。
    </p>

</div>