<div class="view" th:fragment="html" style="height: 500px">
    <h1><b>关于我们</b></h1>
    <p>
        站长是一名普通在读计算机系应届毕业生，由于个人对网站技术的热爱，利用自己所学的知识搭建了这样一个网站，为对web技术或软件资源等方面有兴趣的朋友提供一个分享平台。
        也希望大家多多支持我啦哈哈哈哈，爱你们（づ￣3￣）づ╭❤～
    </p>
    <p>
        本毕业设计主要对当前流行的博客系统进行分析，并发现其存在的不足。通过使用时下流行的SpringBoot框架，以Restful风格，借鉴现有博客系统的基础功能并加以创新，设计并实现了一个新型的“个人”博客系统。
        欢迎各位朋友提提建议，有任何建议都可以在顶部留言反馈里和我说哦！
    </p>
    <h1><b>关于本站</b></h1>
    <p>
        ① 保证文章内容的深度化。在本系统中，通过设计用户认证功能，让符合条件的、有一定资质的权威认证用户能够发表更具专业性的精品文章。从而保证了整个博客系统的文章看似繁杂，实则精深。另外，本系统也采取了类似“知识付费”的商业模式，限制了权威文章只有会员才可浏览，并且允许其他用户对认证博主进行打赏，以鼓励各位在专业领域有所建树的“博客专家”们积极创作。
    </p>
    <p>
        ② 保证博客系统的个性化。在本系统中，尽最大努力保证了用户的可定制化，真正实现了所谓的“个人”博客系统。系统把分类和标签的管理权限真正的交给用户，由用户自己定制需要的分类和标签。系统只在整体层面设置父分类和热门标签阀值，把控全局。通过这种设计，让用户能够真正参与到系统中，自由支配自己的文章体系。
    </p>
    <p>
        ③ 保证用户兴趣的集中化。在本系统中，能够真正让用户以兴趣为导向阅读文章，结识到兴趣相似的小伙伴。本系统通过设计“感兴趣标签集”这一功能，让用户能够选择自己真正喜欢的文章类型，从而可以以兴趣为衡量标准，筛选自己想看的文章。并且，本系统通过设计“关注”功能，构建用户间的社交圈，用户之间可以通过“感兴趣标签集”这一设定，真正以“趣”交友。
    </p>
</div>